
@{
    ViewData["Title"] = "Test";
}

<h1>Test</h1>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Ad</th>
            <th>Departman</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Mehmet</td>
            <td>Analiz</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Fatme</td>
            <td>Yazılım</td>
        </tr>
    </tbody>
</table>