@model List<Category>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <style>
    </style>

</head>

<body>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Ad</th>
                <th>Durum</th>
                <th>Detaylar</th>
                <th>Sil</th>
            </tr>
        </thead>
        <tbody>
            
                @foreach (var item in Model)
                {
            <tr>
                <td>@item.Id</td>
                <td>@item.name</td>
                <td>@item.status</td>
                <td>
                    <a href="#" class="btn btn-info">Detaylar</a>
                </td>
                <td>
                    <a href="#" class="btn btn-danger">Sil</a>
                </td>
            </tr>
                }
           
        </tbody>
    </table>








    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>







</html>